<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>

</head>

<body>
 <div class="login">
  <style>
    body {
      background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%); 
    }
</style>
	<h1>Credit card default</h1>
    <form action="{{ url_for('predict_datapoint')}}" method="post">
      <input type="text" name="LIMIT_BAL" placeholder="LIMIT_BAL" required="required" /><br>
    	<input type="text" name="SEX" placeholder="SEX" required="required" /><br>
        <input type="text" name="EDUCATION" placeholder="EDUCATION" required="required" /><br>
        <input type="text" name="MARRIAGE" placeholder="MARRIAGE" required="required" /><br>
        <input type="text" name="AGE" placeholder="AGE" required="required" /><br>
        <input type="text" name="PAY_0" placeholder="PAY_0" required="required" /><br>
        <input type="text" name="PAY_2" placeholder="PAY_2" required="required" /><br>
        <input type="text" name="PAY_3" placeholder="PAY_3" required="required" /><br>
        <input type="text" name="PAY_4" placeholder="PAY_4" required="required" /><br>
        <input type="text" name="PAY_5" placeholder="PAY_5" required="required" /><br>
        <input type="text" name="PAY_6" placeholder="PAY_6" required="required" /><br>
        <input type="text" name="BILL_AMT1" placeholder="BILL_AMT1" required="required" /><br>
        <input type="text" name="BILL_AMT2" placeholder="BILL_AMT2" required="required" /><br>
        <input type="text" name="BILL_AMT3" placeholder="BILL_AMT3" required="required" /><br>
        <input type="text" name="BILL_AMT4" placeholder="BILL_AMT4" required="required" /><br>
        <input type="text" name="BILL_AMT5" placeholder="BILL_AMT5" required="required" /><br>
        <input type="text" name="BILL_AMT6" placeholder="BILL_AMT6" required="required" /><br>
        <input type="text" name="PAY_AMT1" placeholder="PAY_AMT1" required="required" /><br>
        <input type="text" name="PAY_AMT2" placeholder="PAY_AMT2" required="required" /><br>
        <input type="text" name="PAY_AMT3" placeholder="PAY_AMT3" required="required" /><br>
        <input type="text" name="PAY_AMT4" placeholder="PAY_AMT4" required="required" /><br>
        <input type="text" name="PAY_AMT5" placeholder="PAY_AMT5" required="required" /><br>
        <input type="text" name="PAY_AMT6" placeholder="PAY_AMT6" required="required" /><br>
        <input type="text" name="total_bill" placeholder="total_bill" required="required" /><br>
        <input type="text" name="total_payment" placeholder="total_payment" required="required" /><br>
        <input type="text" name="Credit_util_ratio" placeholder="Credit_util_ratio" required="required" /><br>




        


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
<body>

   <br>
   <br>


 </div>
 {{result}}

</body>
</html>